@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .home__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .home__title {
    font-size: 1.75rem;
  }

  .features__info {
    grid-template-columns: 1fr;
  }

  .join__bg {
    padding: 0 .5rem 2rem .5rem;
  }

  .footer__data {
    gap: 2rem;
  }

  .footer__terms {
    column-gap: .5rem;
  }

}

@media screen and (min-width: 576px) {

  .popular__descr,
  .products__descr {
    width: 350px;
    margin: 0 auto;
  }

  .choose__container,
  .features__container,
  .join__bg {
    grid-template-columns: 360px;
    justify-content: center;
  }

  .products__content {
    grid-template-columns: repeat(2, max-content);
  }

  .join__bg {
    justify-self: center;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {

  .section__title,
  .home__data,
  .home__info,
  .popular__data,
  .choose__data,
  .features__data,
  .join__data {
    text-align: initial;
  }

  .home__container {
    column-gap: 4rem;
    padding-bottom: 2rem;
  }

  .home__image {
    order: -1;
  }

  .home__bg {
    height: 110%;
  }

  .home__btns,
  .home__info {
    justify-content: initial;

  }

  .home__container,
  .choose__container,
  .features__container,
  .join__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .popular__descr {
    margin: initial;
  }

  .popular__contant {
    max-width: 700px;
  }

  .features__image {
    order: 1;
  }

  .products__data .section__title {
    text-align: center;
  }

  .join__bg {
    padding: 0 3rem;
  }

  .join__form {
    grid-template-columns: 1fr max-content;
    column-gap: .5rem;
    background-color: var(--body-color);
    border-radius: 4rem;
    padding-left: 1.5rem;
  }

  .join__input {
    padding: 1rem 0;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-conten);
  }

  .footer__group {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copy {
    order: -1;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .change-theme {
    color: var(--text-color);
  }

  .bg-header .change-theme {
    color: var(--text-color);
  }

  .products__content {
    grid-template-columns: repeat(4, max-content);
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
  }
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
    transition: top .4s;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .home__container {
    grid-template-columns: 530px 465px;
    justify-content: center;
    padding-top: 3.5rem;
    column-gap: 7.5rem;
  }

  .home__bg {
    height: 97%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

  .home__blob {
    width: 530px;
    height: 670px;
    border: 10px solid transparent;
  }

  .home__shadow {
    width: 435px;
    height: 60px;
    bottom: -2rem;
    filter: blur(28px);
  }

  .home__img {
    width: 480px;
    transform: translateY(-10px);
  }

  .home__blob-title {
    font-size: 7rem;
  }

  .home__content {
    row-gap: 4.5rem;
    padding-bottom: 5rem;
  }

  .home__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: 0.75rem;
  }

  .home__title {
    margin-bottom: 2.5rem;
  }

  .home__btns {
    column-gap: 2.5rem;
  }

  .home__info {
    column-gap: 4rem;
    text-align: initial;
  }

  .home__title {
    font-size: 2.75rem;
  }

  .home__info-subtitle {
    font-size: var(--normal-font-size);
  }

  .popular__descr {
    width: 450px;
  }

  .popular__content {
    padding-block: 4rem 8rem;
    max-width: 1064px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  .swiper-button-next {
    right: calc(50% - 3.5rem);
  }

  .swiper-button-prev {
    left: calc(50% - 3.5rem);
  }

  .popular__descr,
  .choose__descr,
  .choose__faq-descr,
  .products__descr,
  .join__descr {
    font-size: var(--normal-big-font-size);
  }

  .popular__card,
  .products__card {
    width: 230px;
    height: 410px;
    padding: 1rem 1rem 1.5rem;
  }

  .popular__blob,
  .products__blob {
    height: 240px;
    margin-bottom: 1rem;
  }

  .popular__img,
  .products__img {
    width: 150px;
  }

  .popular__name,
  .products__name {
    font-size: var(--h3-font-size);
  }

  .popular__subtitle,
  .products__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 1.5rem;
  }

  .popular__btn,
  .products__btn {
    font-size: 1.8rem;
    border-radius: .75rem;
    right: 1rem;
    bottom: 1.5rem;
  }

  .choose__container {
    grid-template-columns: 500px 455px;
    column-gap: 7rem;
  }

  .choose__img {
    width: 350px;
    transform: translateY(-10px);
  }

  .choose__blob-title {
    font-size: 7rem;
    left: 1.5rem;
    bottom: 4.5rem;
  }

  .choose__content {
    row-gap: 3rem;
  }

  .choose__faq {
    row-gap: 2.5rem;
  }

  .choose__faq-header {
    column-gap: 1.25rem;
  }

  .choose__faq-icon {
    font-size: 1.8rem;
    border-radius: .75rem;
  }

  .choose__faq-title {
    font-size: var(--h2-font-size);
  }

  .choose__blob,
  .features__blob {
    width: 500px;
    height: 670px;
    border: 10px solid transparent;
  }

  .choose__shadow,
  .features__shadow {
    width: 404px;
    height: 60px;
    bottom: -2rem;
    filter: blur(28px);
  }

  .features__container {
    grid-template-columns: 445px 500px;
    column-gap: 7.5rem;
  }

  .features__img {
    width: 420px;
    transform: translateY(-10px);
  }

  .features__blob-title {
    font-size: 7rem;
    right: 1.5rem;
    bottom: 4.5rem;
  }

  .features__content {
    row-gap: 3.5rem;
  }

  .features__info {
    grid-template-columns: repeat(2, 200px);
    gap: 2rem;
  }

  .features__info-card {
    padding: 3rem 2rem;
  }

  .products__container {
    row-gap: 4.5rem;
  }

  .join__container {
    padding-block: 9rem 5rem;
  }

  .join__bg {
    grid-template-columns: 450px 380px;
    justify-self: initial;
    height: 442px;
    column-gap: 6rem;
    padding-inline: 6rem;
  }

  .join__blob{
    width: 450px;
    height: 580px;
    border: 10px solid transparent;
  }

  .join__shadow{
    width: 352px;
    height: 60px;
    bottom: -2rem;
    filter: blur(28px);
  }

  .join__image{
    transform: translateY(-8.5rem);
  }
  .join__img{
    width: 360px;
    transform: translateY(-10px);
  }
  .join__blob-title{
    font-size: 7rem;
  }
  .join__content{
    row-gap: 3rem;
    padding-bottom: 5rem;
  }
  .join__form{
    width: 400px;
  }
  .footer{
    padding-block: 3rem;
  }
  .footer__logo{
    margin-bottom: 1rem;
  }
  .footer__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
  }
  .footer__links{
    row-gap: 1rem;
  }
  .footer__data{
    column-gap: 4.5rem;
  }
  .footer__social{
    column-gap: 1.5rem;
  }
  .footer__social-link{
    font-size: 1.5rem;
  }
  .footer__group{
    margin-top: 6.5rem;
  }
  .scrollup{
    right: 3rem;
  }





}